<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>vue-boolzapp</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <div class="header-top">
        </div>
        <div class="header-bottom">
        </div>
        <div id="container" class="container">
            <div class="section-left">
                <div class="section-avatar">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/194/194938.svg" alt="">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="section-messages">
                    <i class="fas fa-bell-slash"></i>
                    <ul>
                        <li><strong>Ricevi notifiche nuovi messaggi</strong></li>
                        <li><a href="#">Attiva notifiche desktop</a></li>
                    </ul>
                </div>
                <div class="section-search">
                    <i class="fas fa-search"></i>
                     <input class="search-bar" type="text" @keyup.enter="searchName" placeholder="Cerca o inizia una nuova chat" v-model="search">
                </div>
                 <div class="section-search2">


                        <p>{{search}}</p>

                </div>
                <div class="section-contacts" v-for="(contact,indice) in contacts" @click="change_contact(indice)"
                :class="indice ==indexvalue ? 'active' : ''">
                    <img class="avatar-contacts" :src="'img/avatar'+ contact.avatar + '.png'" :alt="contact.name">
                    {{contact.name}}
                    <span class="date">17.53</span>
                    <p class="message-contacts">Non poteva essere altrimenti</p>
                </div>
            </div>
            <div class="section-right">
                <div class="section-user">
                    <img :src="'img/avatar' + contacts[indexvalue].avatar + '.png'" alt="">
                    <ul>
                        <li><span>{{contacts[indexvalue].name}}</span></li>
                        <li><span>Ultimo accesso oggi 15.40</span></li>
                    </ul>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="chatMessages">
                     <div class=""  v-for="(element,indice) in contacts[indexvalue].messages" :class="element.status" >
                            {{element.message}}
                        <p class="element-date">{{element.date}}</p>
                    </div>
                </div>
                <div class="footer-invio">
                    <i class="far fa-smile"></i>
                    <input v-model="new_message" type="text" name="" value="" @keyup.enter="insert_message" placeholder="Scrivi un messaggio"  >
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
            <script src="main.js" charset="utf-8"></script>
    </body>
</html>
