*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    height: 150px;
    background-color:green;
}

.header-bottom {
    height: 800px;
    background-color: lightgrey;
}

.container {
    width: 1200px;
    height: 800px;
    position: absolute;
    top: 35px;
    left: 150px;
    background-color: blue;
}

.section-left {
    background-color: pink;
    width: 500px;
    height: 800px;
    float: left;

}

.section-right {
    background-color: yellow;
    width: 700px;
    height: 800px;
    float: left;

}

.section-contacts {
    height: 70px;
    background-color: red;
}

.section-contacts img {
    width: 64px;
    padding: 5px;
}

.section-contacts i {
    padding:17px;
    float: right;
    font-size: 25px;
    color:white;

}

.section-messages {
    height: 80px;
    background-color: lightblue;

}

.section-messages i{
    font-size: 25px;
    border-radius: 100%;
    padding: 8px;
    background-color: white;
    color:lightblue;
    float: left;
    margin: 15px;


}

.section-messages li{
    list-style-type: none;
}
ul li:first-child {
    padding-top: 16px;
}

.section-search{
    background-color: white;
    height: 50px;
}

.section-search i{
    font-size: 18px;
    color:grey;
    margin: 14px 35px;
}

.search-bar{
    width: 200px;
    height: 34px;
    border-color: lightgrey;
}
