*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    height: 100px;
    background-color:green;
}

.header-bottom {
    height: 800px;
    background-color: lightgrey;
}

.container {
    width: 1200px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 150px;
    background-color: blue;
}

.section-left {
    background-color: pink;
    width: 500px;
    height: 800px;
    float: left;

}

.section-right{
    background-color: yellow;
    width: 700px;
    height: 800px;
    float: left;

}
